<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()" class="container-fluid mt-4">
  <div *ngIf="imageSrc">
    <img [src]="imageSrc" width="150" height="150" alt="User photo" />
  </div>
  <div *ngIf="!imageSrc" class="form-group">
    <label for="file">Upload photo</label>
    <div class="custom-file mt-2">
      <input
        type="file"
        class="custom-file-input"
        id="file"
        formControlName="file"
        (change)="onFileChange($event)"
      />
      <label class="custom-file-label" for="file">Choose file</label>
    </div>
  </div>
  <div class="form-group">
    <label for="firstName">First name *</label>
    <input
      type="text"
      formControlName="firstName"
      class="form-control"
      id="firstName"
      [placeholder]="'Enter first name' | translate"
      required
    />
  </div>
  <span *ngIf="checkValue('firstName')" class="alert alert-danger">
    First name must be Latin 
  </span>
  <div class="form-group">
    <label for="lastName">Last name *</label>
    <input
      type="text"
      formControlName="lastName"
      class="form-control"
      id="lastName"
      placeholder="Enter last name"
      required
    />
  </div>
  <span *ngIf="checkValue('lastName')" class="alert alert-danger">
    Last name must be Latin
  </span>
  <div class="form-group">
    <label for="birthday">Birthday *</label>
    <p-calendar class="row ml-0" id="birthday" formControlName="birthday" required="true" placeholder="Enter birthday" [maxDate]="today()"></p-calendar>
  </div>
  <div formArrayName="education">
    <label for="education0">Education</label>
    <button type="button" [disabled]="newUserForm.value.education.length >= 5" class="btn btn-light btn-sm ml-1 font-weight-bold plus" (click)="addEducation()">+</button>
    <div *ngFor="let institution of education.controls; let i = index">
      <div class="form-group row">
        <input
          type="text"
          [formControlName]="i"
          class="form-control col-md-11 ml-3"
          [id]="'education' + i"
          [placeholder]="i + 1 + ' institution'"
        />
        <button *ngIf="i + 1 === newUserForm.value.education.length && i !== 0" (click)="deleteEducation()" type="button" class="btn btn-light btn-sm ml-1 font-weight-bold minus" >-</button>
      </div>
    </div>
  </div>
  <div class="form-row vacation" formGroupName="vacation">
      <div class="form-group col-md-6">
        <label for="vacationFrom">Vacation from</label>
        <input [min]="todayDate" [max]="pickVacationToDate()" type="date" class="form-control" id="vacationFrom" formControlName="from">
      </div>
      <div class="form-group col-md-6">
        <label for="vacationTo">to</label>
        <input type="date" [min]="pickVacationFromDate()" class="form-control" id="vacationTo" formControlName="to">
      </div>
    </div>
  <input type="submit" class="btn btn-primary btn-lg" [disabled]="!newUserForm.valid" [value]="newUserForm.value.id ? 'Update user' : 'Add user'">
</form>

<!--<label for="isQuery">Add query parameters</label>-->
<!--<input type="checkbox" [(ngModel)]="checked" (change)="addQuery($event)" id="isQuery">-->

<!--<p-dropdown class="row" [options]="'SPECIALTIES' | translate" [(ngModel)]="selectedSpecialty" placeholder="Select a specialty" optionLabel="name" [showClear]="true"></p-dropdown>-->
