h1 {
  word-break: break-all;
}
button:hover {
    background-color: #007bff;
}
button#cross {
  background: inherit;
    font-size: 1.25em;
    color: black;
    border: none;
  &:hover {
    background-color: #cacaca8e;
  }
}
.output {
  padding-left: 0;
}
