<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light row">
    <div class="col-8 row">
      <div class="col-4">
        <h1 class="navbar-brand text-justify">SOCIAL NETWORK</h1>
      </div>
      <div class="navbar-nav col-md-8">
        <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true } ">Home</a>
        <a routerLink="/add" routerLinkActive="active" class="nav-item nav-link">Add user</a>
      </div>
    </div>
    <div class="col-4">
      <form class="form-inline" style="flex-flow: inherit">
        <div>
          <input [(ngModel)]="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" />
        </div>
        <button class="btn btn-outline-success my-2" (click)="onSubmit()" type="submit">Search</button>
        <button class="btn" id="cross" (click)="showAll()">X</button>
      </form>
    </div>
  </nav>
</header>
